/* General styles for the home section */
.home {
    /* padding-top: 70px; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: calc(100vh - 70px); /* Adjust for the height of the header */
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url(../sections/milk_glass_1.jpg);
    background-size: cover;
    background-position: center;
    color: #fff;
    /* text-align: center; Center align text for better mobile view */
}

.home-content {
   
    padding: 20px; /* Add padding for better mobile view */
}

.home-content-info h1 {
    font-family: var(--playwrite-display);
    font-size: 50px;
    padding-top: 40px;
}

.home-content-info p {
    font-size: 17px;
    font-family: var(--plus-jakarta-sans);
    margin-top: 20px; /* Add margin for better spacing */
}

.home-content-info p2 {
    font-family: var(--plus-jakarta-sans);
    font-size: 17px;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 20px; /* Add margin for better spacing */
}

.Download-buttons{
    padding-top: 25px;
    border-radius: 2px;
}


@keyframes blink {
    50% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
}

.home-content-info p1 {
    color: var(--primary-color);
    animation: blink 2s linear infinite;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .home-content-info h1 {
        font-size: 40px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .home-content-info p,
    .home-content-info p2 {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .home-content-info h1 {
        font-size: 35px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .home-content-info p,
    .home-content-info p2 {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .home-content-info h1 {
        font-size: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .home-content-info p,
    .home-content-info p2 {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 14px;
    }
}
