.home{
    padding-top: 70px;
    display: flex;
    min-height: calc(100vh);
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url(../sections/milk_glass_1.jpg);
    background-size: cover;
    background-position: center;
    
}

/* .home-image{
    flex: 1;
    display: flex;
    
    position: relative;
    z-index: 5;
}

.home-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
} */

.home-content{
    color: #fff;
}

.home-content-info h1{
    font-family: var(--playwrite-display);
    font-size: 50px;
    align-self: center;
    padding-top: 40px;
    padding-left: 50px;
}

.home-content-info p{
    padding-left: 50px ;
    font-size: 17px;
    font-family: var(--plus-jakarta-sans);
    

}

.home-content-info p2{
    font-family: var(--plus-jakarta-sans);
    padding-left: 50px;
    font-size: 17px;
    font-weight: bold;
    color: var(--primary-color);

}



@keyframes blink{
    50%{
        opacity: 0;
    }
    80%{
        opacity: 1;
    }
}


.home-content-info p1{
    color: var(--primary-color);
    animation: blink 2s linear infinite;

}




