.milkbasket-info {
    text-align: center;
    padding-top: 40px;
    font-family: var(--plus-jakarta-sans);
    padding-bottom: 20px;
}

.milkbasket-info p {
    padding-top: 30px;
    font-size: 20px;
    font-weight: lighter;
}

.milkbasket-info h1 {
    padding-top: 10px;
    font-size: 45px;
    font-weight: bold;
}

.milkbasket-info p1 {
    padding-top: 15px;
    font-size: 20px;
    font-weight: lighter;
    padding-bottom: 10%;
}

.milkbasket-info p2 {
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--plus-jakarta-sans);
    gap: 15px;
}

.ver-box {
    display: flex;
    width: 80%;
    margin: 10px 0;
    height: auto;
    overflow: hidden;
}

.ver-box img {
    width: 50%;
    object-fit: cover;
}

.ver-box-info {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ver-box-info h3 {
    font-weight: bold;
    padding: 20px;
}

.ver-box-info p {
    font-weight: lighter;
    padding-bottom: 20px;
}

.button {
    padding: 15px;
    max-width: 180px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--plus-jakarta-sans);
    color: #fff;
    text-align: center;
    background: var(--primary-color);
    border-radius: 46px;
    border-color: black;
    outline: none;
    cursor: pointer;
    transition: transform 0.3s;
}

.button:hover {
    transform: scale(1.05);
    background: var(--primary-color);
    color: #fff;
}

/* .ver-box:nth-child(even) {
    flex-direction: row-reverse;
}
 */
/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .milkbasket-info h1 {
        font-size: 35px;
    }

    .milkbasket-info p1 {
        font-size: 18px;
    }

    .container {
        width: 90%;
    }

    .ver-box {
        flex-direction: column;
    }

    .ver-box img, .ver-box-info {
        width: 100%;
    }

    .ver-box-info {
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .milkbasket-info h1 {
        font-size: 30px;
    }

    .milkbasket-info p {
        font-size: 16px;
    }

    .ver-box-info p {
        font-size: 14px;
    }

    .container {
        width: 95%;
    }

    .ver-box {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .milkbasket-info h1 {
        font-size: 25px;
    }

    .milkbasket-info p1 {
        font-size: 16px;
    }

    .milkbasket-info p {
        font-size: 14px;
    }

    .ver-box {
        flex-direction: column;
        align-items: center;
    }

    .ver-box img, .ver-box-info {
        width: 100%;
    }

    .ver-box-info h3 {
        font-size: 20px;
    }

    .ver-box-info p {
        font-size: 12px;
    }
}
