/* General styles for the work section */
.work {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #fff;
}

.work-content {
  text-align: center;
  padding: 64px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 64px;
}

.work-content-info p {
  padding-top: 30px;
  font-size: 20px;
  font-weight: lighter;
  font-family: var(--plus-jakarta-sans);
}

.work-content-info h1 {
  padding-top: 10px;
  font-size: 45px;
  font-weight: bold;
  font-family: var(--plus-jakarta-sans);
}

.work-content-info p1 {
  color: var(--primary-color);
}

.box-container {
  padding: 40px 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
  width: 100%;
  box-sizing: border-box;
}

.box {
  height: 250px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  padding: 30px 20px;
  background-color: #fff;
  transition: transform 0.3s, box-shadow 0.3s;
}

.box h3 {
  font-family: var(--plus-jakarta-sans);
  font-weight: bold;
  color: var(--primary-color);
  padding: 10px;
}

.box p {
  font-family: var(--plus-jakarta-sans);
  align-self: center;
  padding: auto;
}

.box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
  border-radius: 10px;
  border-color: var(--primary-color);
}

.subscription {
  padding: 20px;
  background-color: #000;
  background-image: url('../../assets/subscribe_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.subscription p {
  font-size: 18px;
  font-family: var(--plus-jakarta-sans);
  font-weight: 300;
  line-height: 20px;
  margin-top: 20px;
  color: #fff;
  text-align: center;
}

.subscription__form {
  min-width: 480px;
  margin-top: 40px;
  padding: 14px 14px 14px 24px;
  display: flex;
  gap: 10px;
  border: 1px solid var(--primary-color);
  border-radius: 46px;
}

.subscription__form input {
  flex: 1;
  font-size: 16px;
  font-family: var(--plus-jakarta-sans);
  color: var(--primary-color);
  opacity: 1;
  background: transparent;
  border: none;
  outline: none;
}

.subscription__form input::placeholder {
  color: #fff;
  opacity: 0.5;
}

.subscription__form button {
  padding: 20px;
  min-width: 180px;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
  text-align: center;
  background: var(--primary-color);
  border-radius: 46px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.subscription__form button:hover {
  transform: scale(1.05);
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .work-content {
      padding: 40px;
  }

  .work-content-info h1 {
      font-size: 40px;
  }

  .work-content-info p {
      font-size: 18px;
  }

  .box-container {
      padding: 30px 50px;
  }

  .subscription__form {
      min-width: 100%;
      padding: 14px;
  }
}

@media (max-width: 768px) {
  .work-content-info h1 {
      font-size: 35px;
  }

  .work-content-info p {
      font-size: 16px;
  }

  .box-container {
      padding: 20px 30px;
  }

  .subscription__form {
      min-width: 100%;
      padding: 12px;
  }
}

@media (max-width: 480px) {
  .work-content-info h1 {
      font-size: 30px;
  }

  .work-content-info p {
      font-size: 14px;
  }

  .box-container {
      padding: 10px 20px;
  }

  .subscription__form {
      min-width: 100%;
      padding: 10px;
      flex-direction: column;
      gap: 10px;
  }

  .subscription__form button {
      width: 100%;
  }
}
